/***** FONTS *****/
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Thin.woff2") format("woff2"), url("../fonts/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraLight.woff2") format("woff2"), url("../fonts/Montserrat-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
/***** GENERAL ELEMENTS *****/
:root {
  --container-offset: 20px;
  --content-width: 1250px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --white-color: #ffffff;
  --black-color: #000000;
  --grey-color: #adadad;
  --lightGrey-color: #d3d8e0;
  --lightBlack-color: #313131;
  --font-color: #333333;
  --lightFont-color: #757683;
  --global-color: #ffd254;
  --lightGlobal-color: #ffdd81;
  --green-color: #79cc64;
  transition: 0.3s;
}

/***** Mixins *****/
/***** BLOCKS GLOBAL *****/
/*-----generals-----*/
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.35;
  color: var(--font-color);
  background: var(--white-color);
  margin: 0;
  overflow-x: hidden;
  position: relative;
}

.wrapper {
  min-height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
  display: block;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.link-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fix-btns {
  position: fixed;
  height: 100%;
  width: 50px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  z-index: 400;
}
.fix-btns a {
  display: inline-flex;
  width: 270px;
  transform: translateX(205px);
  transition: transform 0.8s ease;
}
.fix-btns a:not(:last-child) {
  margin-bottom: 14px;
}
.fix-btns a:hover {
  transform: translateX(-10px);
}

::selection {
  color: var(--white-color);
  background-color: var(--global-color);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: 0.3s;
}

:hover {
  transition: 0.3s;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus {
  color: inherit;
}

a:focus {
  outline: none;
  outline-offset: 0;
}

figure {
  margin: 0;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

svg,
svg:hover,
path,
polygon {
  transition: 0.05s;
}

svg:not(:root) {
  overflow: hidden;
}

h1,
h2,
h3 {
  font-weight: normal;
  margin: 0;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

mark {
  background: #ff0;
  color: #000;
}

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid #f2f2f2;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
}

input:focus,
button:focus,
select:focus,
textarea:focus {
  outline: none;
  outline-offset: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 0.125rem;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*-----buttons----*/
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  border-radius: 20px;
  color: var(--font-color);
  border: 0;
  outline: none;
  background: #ffc12d; /* Old browsers */
  background: -moz-linear-gradient(top, #fee59c 0%, #ffc12d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fee59c 0%, #ffc12d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fee59c 0%, #ffc12d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#fee59c", endColorstr="#ffc12d",GradientType=0 ); /* IE6-9 */
  box-shadow: 0px 3px 0px #EBAD19, 0px 10px 15px rgba(0, 0, 0, 0.15);
}
.btn:hover {
  color: var(--black-color);
  box-shadow: 0px 3px 0px #EBAD19, 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-md {
  font-size: 14px;
  padding: 18px 36px;
}

.btn-lg {
  font-size: 18px;
  padding: 28px 72px;
}

@media screen and (max-width: 1240px) {
  .btn-md {
    font-size: 13px;
    padding: 15px 28px;
  }
  .btn-lg {
    font-size: 16px;
    padding: 24px 60px;
  }
}
@media (max-width: 576px) {
  .btn-lg {
    font-size: 14px;
    padding: 20px 36px;
  }
}
/*-----title----*/
.section-title {
  font-size: 36px;
  font-weight: 400;
  color: var(--font-color);
}
.section-title:not(:last-child) {
  margin-bottom: 24px;
}
.section-title span {
  font-weight: 500;
}

.section-text {
  font-size: 18px;
  font-weight: 400;
  color: var(--font-color);
  margin-top: 0;
  margin-bottom: 0;
}
.section-text:not(:last-child) {
  margin-bottom: 18px;
}

.heading {
  margin-bottom: 48px;
}
.heading.center {
  text-align: center;
}
.heading.center .section-title,
.heading.center .section-text {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 991px) {
  .section-title {
    font-size: 32px;
  }
  .section-title:not(:last-child) {
    margin-bottom: 18px;
  }
  .section-text {
    font-size: 17px;
  }
  .section-text:not(:last-child) {
    margin-bottom: 14px;
  }
  .heading {
    margin-bottom: 40px;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .section-title {
    font-size: 20px;
  }
  .section-title:not(:last-child) {
    margin-bottom: 12px;
  }
  .section-text {
    font-size: 15px;
  }
  .section-text:not(:last-child) {
    margin-bottom: 10px;
  }
  .heading {
    margin-bottom: 34px;
  }
}
.list {
  list-style: none;
  padding: 0;
  margin: 0 0 36px 0;
}
.list li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.list li:not(:last-child) {
  margin-bottom: 14px;
}
.list li p {
  margin: 0 0 0 14px;
  font-size: 18px;
}

.arrow-list {
  list-style: none;
  padding: 28px 32px;
  margin: 0;
  position: relative;
  border-radius: 10px;
  background-color: var(--white-color);
  box-shadow: 0px 0px 80px 0px rgba(69, 69, 69, 0.1);
}
.arrow-list::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border: 1px solid #e6e6e6;
}
.arrow-list li {
  padding-left: 36px;
  font-size: 14px;
  background-image: url("../img/next.svg");
  background-position: 0 0;
  background-size: 22px 22px;
  background-repeat: no-repeat;
}
.arrow-list li:not(:last-child) {
  padding-bottom: 24px;
  margin-bottom: 24px;
  position: relative;
}
.arrow-list li:not(:last-child)::before {
  content: "";
  position: absolute;
  left: -27px;
  bottom: 0;
  width: calc(100% + 54px);
  height: 1;
  border: 1px solid #e6e6e6;
}

.numb-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.numb-list li {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
.numb-list li:not(:last-child) {
  margin-bottom: 48px;
}
.numb-list li > span {
  display: block;
  min-width: 96px;
  margin-right: 36px;
  font-size: 60px;
  font-weight: 600;
  line-height: 1;
  font-style: italic;
  text-align: right;
  color: var(--global-color);
}
.numb-list li h3 {
  margin-top: 8px;
  font-size: 18px;
  font-weight: 500;
}
.numb-list li p {
  margin-bottom: 0;
  font-size: 14px;
}

.gost {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 5px;
  background-color: var(--white-color);
  box-shadow: 0px 0px 80px 0px rgba(69, 69, 69, 0.1);
}
.gost img {
  width: 34px;
  margin-right: 8px;
}
.gost p {
  margin: 0;
  text-align: left;
  line-height: 1.1;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  padding: 5px 5px 48px 5px;
  border-radius: 10px;
  background-color: var(--white-color);
  box-shadow: 0px 0px 80px 0px rgba(69, 69, 69, 0.1);
  z-index: 0;
}
.card::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  z-index: -1;
}
.card > img {
  width: 100%;
  aspect-ratio: 36/22;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  object-fit: cover;
  margin-bottom: 28px;
}
.card-info {
  padding: 0 32px;
  width: 100%;
}
.card-info h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}
.card-info p {
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 14px;
}
.card-info p span {
  font-weight: 600;
}
.card-info .link-center {
  margin-top: 28px;
}
.card-info .link-center .btn {
  width: 260px;
  max-width: 100%;
}

@media screen and (max-width: 1240px) {
  .card-info .link-center .btn {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .list li img {
    width: 60px;
  }
  .list li p {
    font-size: 16px;
  }
  .arrow-list {
    padding: 24px;
  }
  .arrow-list li {
    padding-left: 30px;
    background-size: 18px 18px;
  }
  .numb-list li:not(:last-child) {
    margin-bottom: 36px;
  }
  .numb-list li > span {
    min-width: 72px;
    margin-right: 24px;
  }
}
/***** COMPONENTS GLOBAL *****/
/*----header-----*/
.header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: var(--white-color);
  z-index: 500;
  transition: position 10s ease-in, background-color 0.3s ease-in;
}
.header.active {
  position: fixed;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
}
.header__container {
  display: flex;
  align-items: center;
  height: 60px;
}

.nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.nav__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav__list > li {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
}
.nav__list > li:not(:last-child) {
  border-right: 1px solid #e6e6e6;
}
.nav__list > li:nth-child(1) > a {
  padding-left: 0;
  position: relative;
}
.nav__list > li:nth-child(1) > a:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1000px;
  height: 100%;
  background-color: transparent;
  z-index: -1;
  transition: all 0.3s ease;
}
.nav__list > li:last-child a {
  padding-right: 0;
  position: relative;
}
.nav__list > li:last-child a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 5000px;
  height: 100%;
  background-color: transparent;
  z-index: -1;
  transition: all 0.3s ease;
}
.nav__list > li > a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 44px;
  height: 100%;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: var(--font-color);
  background-color: var(--white-color);
  transition: all 0.3s ease;
}
.nav__list > li > a:hover {
  background-color: var(--lightGlobal-color);
}
.nav__list > li:nth-child(1) > a:hover:before, .nav__list > li:last-child > a:hover:before {
  background-color: var(--lightGlobal-color);
}

.nav__close,
.nav__toggle {
  display: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

@media screen and (max-width: 1240px) {
  .header__container {
    height: 50px;
  }
  .nav__list > li > a {
    padding: 0 20px;
  }
}
@media (max-width: 991px) {
  .nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 320px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
    background-color: var(--white-color);
    box-shadow: -4px 0px 15px rgba(0, 0, 0, 0.15);
    transition: right 0.4s;
  }
  .nav__toggle {
    display: block;
    margin-left: auto;
  }
  .nav__close {
    display: block;
    position: absolute;
    right: 20px;
    top: 15px;
  }
  .nav__list {
    flex-direction: column;
    justify-content: flex-start;
  }
  .nav__list > li {
    width: 100%;
    height: auto;
  }
  .nav__list > li:not(:last-child) {
    border-right: 0;
  }
  .nav__list > li:nth-child(1):before {
    display: none;
  }
  .nav__list > li:nth-child(1) > a {
    padding: 20px;
  }
  .nav__list > li:last-child:before {
    display: none;
  }
  .nav__list > li:last-child > a {
    padding: 20px;
  }
  .nav__list > li > a {
    width: 100%;
    padding: 20px;
  }
}
/* Show menu */
.show-menu {
  right: 0;
}

/*-----footer-----*/
.footer {
  padding-top: 48px;
  padding-bottom: 36px;
}
.footer__top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 48px;
}
.footer__nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px 18px;
  list-style: none;
  margin: 0 36px 0 36px;
  padding: 0;
  font-size: 14px;
}
.footer__right {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.footer__right .phone {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 14px;
}
.footer__right .group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.footer__right .btn {
  font-size: 12px;
  padding: 16px 28px;
  border-radius: 10px;
  margin-left: 12px;
}
.footer__bot {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  font-size: 13px;
}
.footer__bot > p {
  margin-right: auto;
  margin-left: 24px;
}
.footer__bot p {
  margin: 0;
  font-size: 13px;
}
.footer__bot .socials {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 36px;
}
.footer__bot .socials a {
  margin-left: 14px;
}
.footer__bot .socials a:hover img {
  transform: scale(1.1);
}

@media screen and (max-width: 1240px) {
  .footer__nav {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 991px) {
  .footer {
    padding-top: 48px;
    padding-bottom: 36px;
  }
  .footer__top {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 48px;
  }
  .footer__nav {
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    text-align: center;
    gap: 14px 18px;
    margin: 36px auto;
  }
  .footer__right {
    margin-right: auto;
    align-items: center;
    justify-content: center;
  }
  .footer__right .btn {
    margin-left: 20px;
  }
  .footer__bot {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer__bot > p {
    margin: 14px auto;
  }
  .footer__bot .socials {
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 0;
  }
  .footer__bot .socials p {
    margin-bottom: 14px;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .footer__top {
    margin-bottom: 36px;
  }
  .footer__nav {
    width: 100%;
    margin: 28px auto;
  }
}
.accordion-list {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.accordion {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s;
}
.accordion:not(:last-child) {
  margin-bottom: 36px;
}

.accordion-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.accordion-control h3 {
  width: calc(100% - 48px);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s ease-in;
}
.accordion-control .icon {
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--global-color);
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.accordion-control .icon img {
  width: 22px;
  height: 22px;
}
.accordion-control:hover .icon {
  background-color: var(--lightGlobal-color);
}

.accordion-content {
  position: relative;
  padding: 14px 0;
  display: block;
  width: 100%;
  height: auto;
  cursor: pointer;
}
.accordion-content p {
  display: block;
  font-size: 14px;
  font-weight: 400;
  max-width: 95%;
  cursor: pointer;
}

.accordion.active .accordion-control .icon {
  transform: rotate(45deg);
}

@media (max-width: 576px) {
  .accordion:not(:last-child) {
    margin-bottom: 20px;
  }
  .accordion-control h3 {
    width: calc(100% - 32px);
    font-size: 15px;
  }
  .accordion-control .icon {
    width: 24px;
    height: 24px;
  }
  .accordion-control .icon img {
    width: 12px;
    height: 12px;
  }
  .accordion-content {
    padding: 8px 0;
  }
  .accordion-content p {
    font-size: 13px;
    max-width: 100%;
  }
}
.tabs-nav {
  margin: 0;
  padding: 0;
}

.tabs-nav li {
  display: block;
  padding: 0;
  list-style: none;
}

.tabs-first .tabs-nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.tabs-first .tabs-nav li {
  width: 10%;
}
.tabs-first .tabs-nav li:nth-child(2), .tabs-first .tabs-nav li:nth-child(9) {
  margin-top: 24px;
}
.tabs-first .tabs-nav li:nth-child(3), .tabs-first .tabs-nav li:nth-child(8) {
  margin-top: 36px;
}
.tabs-first .tabs-nav li:nth-child(4), .tabs-first .tabs-nav li:nth-child(7) {
  margin-top: 48px;
}
.tabs-first .tabs-nav li:nth-child(5), .tabs-first .tabs-nav li:nth-child(6) {
  margin-top: 60px;
}
.tabs-first .tabs-nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}
.tabs-first .tabs-nav a span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  width: 50px;
  height: 50px;
  font-weight: 600;
  line-height: 50px;
  border-radius: 50%;
  background: #D9DADE; /* Old browsers */
  background: -moz-linear-gradient(top, #EBECF0 0%, #D9DADE 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #EBECF0 0%, #D9DADE 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #EBECF0 0%, #D9DADE 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.tabs-first .tabs-nav a.active span {
  background: #ffc12d; /* Old browsers */
  background: -moz-linear-gradient(top, #fee59c 0%, #ffc12d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fee59c 0%, #ffc12d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fee59c 0%, #ffc12d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

@media screen and (max-width: 1240px) {
  .tabs-first .tabs-nav {
    justify-content: flex-start;
  }
  .tabs-first .tabs-nav li {
    width: 100px;
    flex-shrink: 0;
    margin-right: 10px;
  }
  .tabs-first .tabs-nav li:nth-child(2), .tabs-first .tabs-nav li:nth-child(3), .tabs-first .tabs-nav li:nth-child(4), .tabs-first .tabs-nav li:nth-child(5), .tabs-first .tabs-nav li:nth-child(6), .tabs-first .tabs-nav li:nth-child(7), .tabs-first .tabs-nav li:nth-child(8), .tabs-first .tabs-nav li:nth-child(9) {
    margin-top: 0;
  }
  .tabs-first .tabs-nav a {
    font-size: 11px;
  }
  .tabs-first .tabs-nav a span {
    margin-bottom: 8px;
    width: 40px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
  }
}
@media (max-width: 576px) {
  .tabs-first .tabs-nav li {
    width: 70px;
  }
  .tabs-first .tabs-nav a {
    font-size: 10px;
  }
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* swiper-bullets styling */
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  margin: 0 6px;
  background-color: #fff2bd;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #ffcc00;
}

.slider-container {
  position: relative;
}

.examplesSwiper {
  max-width: calc(100% - 130px);
  width: 760px;
  height: 500px;
  margin: 0 auto 24px auto;
}

.swiper-button-prev,
.swiper-button-next {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffcc00;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px;
  font-weight: 600;
  color: var(--black-color);
}

.swiper-button-prev::after {
  margin-right: 3px;
}

.swiper-button-next::after {
  margin-left: 3px;
}

@media (max-width: 991px) {
  .examplesSwiper {
    max-width: calc(100% - 80px);
    width: 100%;
    height: auto;
  }
  .swiper-button-prev,
.swiper-button-next {
    width: 30px;
    height: 30px;
  }
  .swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 14px;
  }
}
/*-----form-----*/
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.form .acept {
  font-size: 12px;
  text-align: center;
}
.form .acept a {
  text-decoration: underline;
}
.form .acept a:hover {
  text-decoration: none;
}
.form-title {
  font-size: 24px;
  margin-bottom: 24px;
}
.form-title span {
  font-weight: 600;
}
.form-label {
  position: relative;
  display: flex;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--font-color);
}
.form-input {
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--font-color);
  padding: 16px 22px;
  height: 80px;
  border: 1px solid #eaeaea;
  border-radius: 7px;
  background: none;
}
.form-input:focus {
  border-color: var(--global-color);
  /* Firefox 19+ */
  /* Firefox 18- */
}
.form-input:focus::-webkit-input-placeholder {
  color: var(--black-color);
}
.form-input:focus::-moz-placeholder {
  color: var(--black-color);
}
.form-input:focus:-moz-placeholder {
  color: var(--black-color);
}
.form-input:focus:-ms-input-placeholder {
  color: var(--black-color);
}
.form-input::placeholder {
  color: rgba(1, 8, 39, 0.6);
}
.form-group {
  width: 100%;
}
.form-group-title {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 13px;
  line-height: 2;
  color: var(--font-color);
}
.form-info {
  font-size: 12px;
  opacity: 0.7;
  margin: 14px 0;
}

@media (max-width: 576px) {
  .form-title {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  .form-label {
    font-size: 15px;
    line-height: 15px;
  }
  .form-input {
    font-size: 15px;
    line-height: 15px;
    height: 64px;
  }
}
input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  display: none;
}

/* Checkbox */
/* Checked */
/* Radio */
/*------ modal ------*/
.state {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}
.state.active {
  visibility: visible;
  opacity: 1;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.6);
}
.state .state-box {
  width: 560px;
  max-width: 90%;
  min-height: 340px;
  background: #ffffff;
  box-sizing: border-box;
  position: relative;
  max-height: 100%;
  padding: 36px;
}
.state .state-box .close {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: -1.5rem;
  right: -1.5rem;
  cursor: pointer;
}
.state .state-box .close:after, .state .state-box .close:before {
  position: absolute;
  left: 0.75rem;
  content: " ";
  height: 1.5rem;
  width: 0.125rem;
  background-color: #ffffff;
  transition: background-color 0.3s ease-in;
}
.state .state-box .close:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.state .state-box .close:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.state .state-box .close:hover:after, .state .state-box .close:hover:before {
  background: var(--global-color);
}
.state .state-box .form .btn {
  width: 100%;
  height: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.state .state-box .widget-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 18px;
  text-align: center;
}
.state .state-box a {
  text-decoration: underline;
}
.state .state-box a:hover {
  text-decoration: none;
}
.state .state-box .acept {
  font-size: 15px;
  text-align: center;
  width: 100%;
}

@media (max-width: 576px) {
  .state .state-box {
    width: 100%;
    padding: 24px;
  }
  .state .state-box .close {
    top: -2.5rem;
    right: 1rem;
  }
  .state .state-box .form .btn {
    height: 64px;
  }
  .state .state-box .widget-title {
    font-size: 20px;
  }
  .state .state-box .acept {
    font-size: 13px;
  }
}
.to-state {
  cursor: pointer;
}

/***** SECTIONS GLOBAL (Widgets) *****/
.main {
  padding-top: 28px;
  padding-bottom: 84px;
  min-height: 800px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/main-bg.jpg");
  z-index: 0;
}
.main::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/main-cloud.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom;
  z-index: -1;
}
.main__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 48px;
  z-index: 10;
}
.main__header .logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 24px;
}
.main__header .logo p {
  margin: 0 0 0 20px;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.45;
  max-width: 250px;
}
.main__header .socials {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.main__header .socials a:not(:last-child) {
  margin-right: 10px;
}
.main__header .socials a:hover img {
  transform: scale(1.1);
}
.main__header .btn {
  margin-left: 24px;
}
.main__header .phone {
  display: inline-flex;
  margin-left: 24px;
  font-size: 20px;
  color: var(--font-color);
  font-weight: 600;
}
.main__header .phone:hover {
  color: var(--black-color);
}
.main__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.main__content {
  width: calc(55% - 18px);
  z-index: 10;
}
.main__content h1 {
  font-size: 42px;
  margin-bottom: 36px;
}
.main__content h1 span {
  display: block;
  width: fit-content;
  margin-top: 12px;
  padding: 8px 14px;
  font-size: 22px;
  font-weight: 500;
  border-radius: 15px;
  background-color: #FFEEC0;
}
.main__content .list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main__content .list li:last-child {
  position: relative;
}
.main__content .list li:last-child::before {
  content: "";
  position: absolute;
  right: -100px;
  bottom: -10px;
  width: 84px;
  height: 50px;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.main__image {
  position: absolute;
  right: -200px;
  bottom: -72px;
  width: 75%;
  height: auto;
  z-index: -1;
}

@media screen and (max-width: 1240px) {
  .main__header .logo p {
    font-size: 11px;
  }
  .main__header .btn {
    margin-left: 14px;
  }
  .main__header .phone {
    margin-left: 24px;
    font-size: 17px;
  }
}
@media (max-width: 991px) {
  .main {
    padding-bottom: 0;
    min-height: auto;
  }
  .main__header {
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 36px;
  }
  .main__header .logo {
    width: calc(100% - 150px);
    margin-bottom: 14px;
  }
  .main__header .logo img {
    width: 160px;
  }
  .main__header .logo p {
    margin-left: 14px;
    max-width: 320px;
  }
  .main__header .socials {
    margin-bottom: 14px;
  }
  .main__header .phone {
    margin-left: auto;
  }
  .main__container {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .main__content {
    width: 100%;
  }
  .main__content h1 {
    font-size: 36px;
    margin-bottom: 28px;
  }
  .main__content h1 span {
    font-size: 20px;
  }
  .main__image {
    position: relative;
    right: auto;
    bottom: auto;
    margin-top: 24px;
  }
}
@media (max-width: 576px) {
  .main::after {
    height: 180px;
  }
  .main__header {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 36px;
  }
  .main__header .logo {
    width: 100%;
    margin: 0 auto 20px auto;
  }
  .main__header .logo img {
    margin: auto;
  }
  .main__header .logo p {
    display: none;
  }
  .main__header .socials {
    margin: 0 auto 20px auto;
  }
  .main__header .phone {
    justify-content: center;
    width: 100%;
    margin: 0 auto 20px auto;
  }
  .main__content h1 {
    font-size: 24px;
    margin-bottom: 14px;
  }
  .main__content h1 span {
    margin-top: 8px;
    font-size: 15px;
  }
  .main__content .list li:last-child::before {
    right: -50px;
    width: 54px;
    height: 32px;
  }
  .main__image {
    width: 90%;
  }
}
.control {
  padding-top: 84px;
  padding-bottom: 84px;
}
.control__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.control__left {
  width: calc(40% - 24px);
}
.control__left .list {
  max-width: 400px;
}
.control__right {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: calc(60% - 24px);
  height: 680px;
}
.control__right .arrow-list {
  max-width: 400px;
  width: 55%;
  margin-left: auto;
  margin: auto 0 96px auto;
  z-index: 5;
}
.control__phone {
  width: 55%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
.control__bg {
  position: absolute;
  aspect-ratio: 1/1;
  width: 90%;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

@media screen and (max-width: 1240px) {
  .control__phone {
    width: 42%;
  }
}
@media (max-width: 991px) {
  .control {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .control__container {
    flex-direction: column;
    justify-content: flex-start;
  }
  .control__left {
    width: 100%;
  }
  .control__left .list {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
  }
  .control__right {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
  }
  .control__right .arrow-list {
    width: 100%;
    max-width: 100%;
    margin: 24px auto 0 auto;
  }
  .control__phone {
    position: relative;
    left: auto;
    top: auto;
    transform: none;
  }
  .control__bg {
    top: 0;
    transform: none;
  }
}
.quiz {
  padding-top: 84px;
  padding-bottom: 84px;
  position: relative;
}
.quiz::before {
  content: "";
  position: absolute;
  left: 0;
  top: 20%;
  width: 100%;
  height: 240px;
  background-image: url("../img/elka.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  z-index: -1;
}
.quiz .heading .section-title {
  max-width: 900px;
}

@media screen and (max-width: 1240px) {
  .quiz::before {
    display: none;
  }
}
@media (max-width: 991px) {
  .quiz {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.videos {
  padding-top: 84px;
  padding-bottom: 84px;
}
.videos .heading.center .section-title {
  max-width: 900px;
}
.videos__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
}
.videos__list .video {
  aspect-ratio: 8/5;
}

@media (max-width: 991px) {
  .videos {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .videos__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media screen and (max-width: 380px) {
  .videos__list {
    gap: 10px;
  }
}
.guarantee {
  padding-top: 84px;
  padding-bottom: 84px;
}
.guarantee__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.guarantee__left {
  width: calc(43% - 24px);
}
.guarantee__right {
  width: calc(57% - 24px + 150px);
  margin-right: -150px;
}

@media (max-width: 991px) {
  .guarantee {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .guarantee__container {
    flex-direction: column;
    justify-content: flex-start;
  }
  .guarantee__left {
    width: 80%;
  }
  .guarantee__right {
    width: 80%;
    margin: 24px auto 0 auto;
  }
}
@media (max-width: 576px) {
  .guarantee__left {
    width: 100%;
  }
}
.manager {
  padding-top: 84px;
  padding-bottom: 0;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/main-bg.jpg");
  z-index: 0;
}
.manager::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/main-cloud.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom;
  z-index: -1;
}
.manager .heading span {
  display: block;
}
.manager__container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
}
.manager__content {
  position: relative;
  padding: 48px 48px 48px 48px;
  margin-bottom: 84px;
  margin-right: 36px;
  max-width: 560px;
  border-radius: 10px;
  background-color: var(--white-color);
  box-shadow: 0px 0px 80px 0px rgba(69, 69, 69, 0.1);
  z-index: 10;
}
.manager__content::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border: 1px solid #e6e6e6;
  z-index: -1;
}
.manager__content h3 {
  padding-left: 60px;
  margin-bottom: 24px;
  position: relative;
  font-size: 24px;
}
.manager__content h3::before {
  content: "";
  position: absolute;
  left: -14px;
  top: -14px;
  width: 58px;
  height: 46px;
  background-image: url("../img/kavichki.svg");
  background-size: contain;
}
.manager__content p {
  font-size: 15px;
}
.manager__content p.semibold {
  max-width: 370px;
  font-weight: 600;
  font-size: 17px;
}
.manager__image {
  max-width: 50%;
  z-index: -1;
}

@media (max-width: 991px) {
  .manager {
    padding-top: 60px;
    padding-bottom: 60px;
    z-index: 0;
  }
  .manager__container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .manager__content {
    margin: -24px auto 0 auto;
  }
}
@media (max-width: 576px) {
  .manager__content {
    padding: 24px 20px 24px 20px;
  }
  .manager__content h3 {
    padding-left: 46px;
    margin-bottom: 18px;
    font-size: 16px;
  }
  .manager__content h3::before {
    left: 0;
    top: 0;
    width: 37px;
    height: 30px;
  }
  .manager__content p {
    font-size: 14px;
  }
  .manager__content p.semibold {
    font-size: 15px;
  }
  .manager__content .btn {
    padding: 20px;
    width: 100%;
  }
  .manager__image {
    max-width: 60%;
  }
}
.benefits {
  padding-top: 84px;
  padding-bottom: 84px;
  background-color: #F9F9F9;
}
.benefits .heading .section-title {
  max-width: 680px;
}
.benefits__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.benefits__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: calc(33.333% - 18px);
}
.benefits__item > p {
  font-size: 14px;
  max-width: 240px;
  margin-top: 28px;
  margin-bottom: 0;
}
.benefits__img {
  width: auto;
  height: 200px;
  position: relative;
}
.benefits__img > img {
  width: auto;
  height: 100%;
}
.benefits__img .gost {
  position: absolute;
  bottom: 24px;
  right: 18px;
}

@media (max-width: 991px) {
  .benefits {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .benefits__list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .benefits__item {
    width: 100%;
  }
  .benefits__item:not(:last-child) {
    margin-bottom: 24px;
  }
  .benefits__item > p {
    max-width: 300px;
    margin-top: 20px;
  }
  .benefits__img {
    height: 140px;
  }
}
.catalog {
  padding-top: 84px;
  padding-bottom: 84px;
}
.catalog .heading .section-title,
.catalog .heading .section-text {
  max-width: 680px;
}
.catalog__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 36px 32px;
}

@media (max-width: 991px) {
  .catalog {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .catalog__cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 28px 24px;
  }
}
@media (max-width: 576px) {
  .catalog__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.cta {
  padding-top: 84px;
  padding-bottom: 84px;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.cta .heading .section-title {
  max-width: 660px;
}
.cta .heading.center .section-title {
  max-width: 850px;
}
.cta .heading.center .section-title span {
  font-weight: 600;
}
.cta .heading.center .section-text {
  max-width: 560px;
}
.cta__container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
}
.cta__img {
  position: relative;
  width: calc(100% - 444px);
}
.cta__img img {
  position: absolute;
  left: -60px;
  top: 0;
  width: 1100px;
  max-width: none;
  z-index: 0;
}
.cta .form {
  width: 440px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  padding: 52px 48px 44px 48px;
  border-radius: 10px;
  background-color: var(--white-color);
  box-shadow: 0px 0px 80px 0px rgba(69, 69, 69, 0.1);
  z-index: 0;
}
.cta .form::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  z-index: -1;
}
.cta .form .btn {
  margin-top: 14px;
  margin-bottom: 24px;
  width: 100%;
  min-height: 80px;
}
.cta-first {
  background-image: url("../img/cta-bg.jpg");
}
.cta-second {
  background-image: url("../img/cta-second.jpg");
  background-position: center;
}
.cta-second .form-title {
  font-size: 22px;
}

@media (max-width: 991px) {
  .cta {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .cta__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cta__img {
    width: 100%;
  }
  .cta__img img {
    position: relative;
    left: auto;
    top: auto;
    width: 100%;
    max-width: 100%;
  }
  .cta-first .form {
    margin-top: -96px;
  }
}
@media (max-width: 576px) {
  .cta .form {
    width: 100%;
    padding: 28px 24px 28px 24px;
  }
  .cta .form .btn {
    min-height: 64px;
  }
  .cta-first .form {
    margin-top: -48px;
  }
}
.proposal {
  padding-top: 84px;
  padding-bottom: 48px;
}
.proposal .heading .section-title {
  max-width: 600px;
}
.proposal .heading .section-text {
  max-width: 700px;
}
.proposal__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.proposal__left {
  width: calc(38% - 18px);
}
.proposal__left .list li {
  position: relative;
}
.proposal__left .list li p {
  font-size: 14px;
  margin-left: 28px;
}
.proposal__left .list li:not(:last-child) {
  margin-bottom: 40px;
}
.proposal__left .list li .tooltip {
  position: absolute;
  left: 110%;
  top: 50%;
  transform: translateY(-50%);
  width: 220px;
  padding: 16px 18px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 600;
  color: var(--white-color);
  background: var(--green-color);
}
.proposal__left .list li .tooltip::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent var(--green-color) transparent transparent;
}
.proposal__left .list li .tooltip span {
  font-size: 14px;
  font-weight: 700;
  display: block;
  margin-bottom: 6px;
}
.proposal__right {
  width: calc(62% - 18px);
  margin-right: -50px;
}

@media (max-width: 991px) {
  .proposal {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .proposal__container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .proposal__left {
    width: 100%;
    max-width: 520px;
    margin: 0 auto 24px auto;
  }
  .proposal__left .list li {
    flex-wrap: wrap;
  }
  .proposal__left .list li > img {
    width: 130px;
  }
  .proposal__left .list li > p {
    width: calc(100% - 160px);
  }
  .proposal__left .list li .tooltip {
    position: relative;
    left: auto;
    top: auto;
    transform: none;
    margin-left: auto;
    margin-top: 24px;
    width: calc(100% - 160px);
  }
  .proposal__left .list li .tooltip::after {
    top: -13px;
    right: 50%;
    margin-top: -14px;
    border-width: 14px;
    transform: translateX(50%);
    border-color: transparent transparent var(--green-color) transparent;
  }
  .proposal__right {
    width: 60%;
    margin: 0 auto;
  }
}
@media (max-width: 991px) {
  .proposal__left .list li > img {
    width: 80px;
  }
  .proposal__left .list li > p {
    width: calc(100% - 96px);
    margin-left: 14px;
  }
  .proposal__left .list li .tooltip {
    width: calc(100% - 96px);
  }
}
.examples {
  padding-top: 84px;
  padding-bottom: 84px;
}
.examples .slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.examples .slider-container .swiper-button-next, .examples .slider-container .swiper-button-prev {
  position: relative;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  transform: none;
}
.examples .slider-container .swiper-pagination-bullets.swiper-pagination-horizontal {
  left: auto;
  bottom: auto;
}
.examples .slider-container .swiper-pagination {
  position: static;
}

@media (max-width: 991px) {
  .examples {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.advantages {
  padding-top: 48px;
  padding-bottom: 24px;
  min-height: 700px;
  background-image: url("../img/advantages-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
.advantages .heading .section-title {
  max-width: 900px;
}
.advantages__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 360px;
  width: 100%;
  position: relative;
  padding: 32px 38px;
  border-radius: 10px;
  background-color: var(--white-color);
  box-shadow: 0px 0px 80px 0px rgba(69, 69, 69, 0.1);
}
.advantages__list::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border: 1px solid #e6e6e6;
}
.advantages__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: calc(33.333% - 18px);
}
.advantages__item p {
  margin: 0;
  font-size: 14px;
}
.advantages__item p span {
  font-weight: 600;
}
.advantages__img {
  position: relative;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  margin-right: 20px;
}
.advantages__img img {
  position: absolute;
  height: 100%;
  width: auto;
  max-width: none;
  left: 0;
  top: 0;
}

@media (max-width: 991px) {
  .advantages {
    padding-top: 48px;
    padding-bottom: 48px;
    min-height: auto;
  }
  .advantages__list {
    margin-top: 260px;
    padding: 28px;
  }
  .advantages__item {
    flex-direction: column;
    align-items: flex-start;
  }
  .advantages__item p {
    font-size: 13px;
  }
  .advantages__img {
    width: 60px;
    height: 60px;
    margin-right: 0;
    margin-bottom: 12px;
  }
}
@media (max-width: 576px) {
  .advantages {
    background-position: top;
    background-size: 260% auto;
  }
  .advantages__list {
    flex-direction: column;
    margin-top: 220px;
  }
  .advantages__item {
    width: 100%;
  }
  .advantages__item:not(:last-child) {
    margin-bottom: 18px;
  }
}
.techno {
  padding-top: 84px;
  padding-bottom: 84px;
  background-color: #F6F9FF;
}
.techno .heading .section-title {
  max-width: 870px;
}
.techno .heading .section-text {
  max-width: 560px;
}
.techno .tabs-first {
  margin-top: -60px;
}
.techno .tabs-nav,
.techno .tabs-items {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}
.techno .tabs-nav {
  margin-bottom: 48px;
}
.techno__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.techno__content {
  width: calc(50% - 24px);
}
.techno__content h3 {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.45;
  margin-bottom: 24px;
}
.techno__content p {
  max-width: 480px;
  font-size: 16px;
}
.techno__content ul {
  max-width: 480px;
  list-style: none;
  padding: 0;
}
.techno__content ul li:not(:last-child) {
  margin-bottom: 4px;
}
.techno__content .rez-list li:not(:last-child) {
  margin-bottom: 20px;
}
.techno__content .btn {
  margin-top: 36px;
  padding-left: 48px;
  padding-right: 48px;
}
.techno__img {
  width: calc(50% - 24px);
  aspect-ratio: 56/67;
  object-fit: cover;
  border-radius: 10px;
}

.rez-text {
  display: inline-flex;
  width: fit-content;
  margin-top: 24px;
  margin-bottom: 14px;
  padding: 8px 12px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 8px;
  background-color: var(--lightGlobal-color);
}

.rez-list li {
  padding-left: 30px;
  font-size: 15px;
  background-image: url("../img/check.svg");
  background-position: 0 0;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}
.rez-list li:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (max-width: 1240px) {
  .techno .tabs-first {
    margin-top: 0;
  }
  .techno .tabs-nav {
    max-width: none;
    overflow-x: scroll;
    width: 100%;
    margin-bottom: 36px;
  }
}
@media (max-width: 991px) {
  .techno {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .techno__container {
    flex-direction: column;
    justify-content: flex-start;
  }
  .techno__content {
    width: 70%;
    margin: 0 auto;
  }
  .techno__content h3 {
    font-size: 26px;
    margin-bottom: 16px;
  }
  .techno__content p {
    max-width: 100%;
    font-size: 15px;
  }
  .techno__content ul {
    max-width: 100%;
    font-size: 15px;
  }
  .techno__content .rez-list li:not(:last-child) {
    margin-bottom: 14px;
  }
  .techno__content .btn {
    margin-top: 24px;
  }
  .techno__img {
    width: 70%;
    margin: 48px auto 0 auto;
    aspect-ratio: 56/40;
  }
  .rez-text {
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 14px;
  }
  .rez-list li:not(:last-child) {
    margin-bottom: 14px;
  }
}
@media (max-width: 576px) {
  .techno .tabs-nav {
    margin-bottom: 20px;
  }
  .techno__content {
    width: calc(100% - 40px);
    margin: 0 auto 0 0;
  }
  .techno__content h3 {
    font-size: 17px;
    margin-bottom: 10px;
  }
  .techno__content p, .techno__content ul {
    font-size: 14px;
  }
  .techno__content .btn {
    width: 100%;
    margin-top: 14px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .techno__img {
    width: calc(100% - 40px);
    margin: 36px auto 0 0;
  }
  .fix-btns {
    width: 40px;
  }
  .fix-btns a {
    width: 200px;
    transform: translateX(155px);
  }
  .fix-btns a:not(:last-child) {
    margin-bottom: 8px;
  }
}
.faq {
  padding-top: 84px;
  padding-bottom: 84px;
  min-height: 850px;
  background-image: url("../img/faq-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.faq-wrapper {
  display: flex;
  padding: 60px 60px;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  border-radius: 10px;
  background-color: var(--white-color);
  box-shadow: 0px 0px 80px 0px rgba(69, 69, 69, 0.1);
}
.faq-wrapper::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border: 1px solid #e6e6e6;
}

@media (max-width: 991px) {
  .faq {
    padding-top: 60px;
    padding-bottom: 60px;
    min-height: 700px;
  }
  .faq-wrapper {
    padding: 36px 36px;
    max-width: 100%;
  }
}
@media (max-width: 576px) {
  .faq-wrapper {
    padding: 24px;
  }
}
.contacts {
  padding-top: 84px;
  padding-bottom: 84px;
  position: relative;
}
.contacts .map {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #e6e6e6;
  z-index: -1;
}
.contacts__container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
}
.contacts__wrapper {
  width: 440px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  padding: 44px 48px 44px 48px;
  border-radius: 10px;
  background-color: var(--white-color);
  box-shadow: 0px 0px 80px 0px rgba(69, 69, 69, 0.1);
  z-index: 0;
}
.contacts__wrapper::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  z-index: -1;
}
.contacts__wrapper .btn {
  margin-top: 14px;
  margin-bottom: 24px;
  width: 100%;
  min-height: 80px;
}
.contacts__list {
  padding-bottom: 30px;
  margin-bottom: 30px;
  position: relative;
}
.contacts__list::before {
  content: "";
  position: absolute;
  left: -43px;
  bottom: 0;
  width: calc(100% + 86px);
  height: 1;
  border: 1px solid #e6e6e6;
}
.contacts__item {
  font-size: 14px;
}
.contacts__item:not(:last-child) {
  margin-bottom: 16px;
}
.contacts__item span {
  display: block;
  margin-bottom: 4px;
  font-weight: 600;
}
.contacts__item p {
  margin: 0;
}

@media (max-width: 991px) {
  .contacts {
    padding-top: 60px;
    padding-bottom: 36px;
  }
  .contacts .map {
    height: 520px;
  }
  .contacts__wrapper {
    margin: 300px auto 0 auto;
  }
  .contacts__wrapper .btn {
    min-height: 64px;
  }
  .contacts__list {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  .contacts__list::before {
    left: -43px;
    width: calc(100% + 86px);
  }
}
@media (max-width: 576px) {
  .contacts .map {
    height: 400px;
  }
  .contacts__wrapper {
    margin-top: 240px;
    width: 100%;
    padding: 28px 24px;
  }
  .contacts__list {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .contacts__list::before {
    left: -19px;
    width: calc(100% + 38px);
  }
}
/***** Page (article) *****/